


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

/* BACKGROUND */

body {
	background: url('https://i.ibb.co/SKyQhFx/clouds-1282314.jpg') center center fixed;
	background-size: 100%;
	font-family: 'font-family: 'Barlow', sans-serif;';
	color: #F9F9F6
}

